<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
		 <% unless @user.log_entries.empty? %>
			<table class="log_entry" summary="User log entries">
				<%= render @log_entries %>
			</table>
			<%= will_paginate @log_entries %>
		<% end %>     
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info', :user => @user %>

     <% if current_user?(@user) %>
       <%= link_to "New Log Entry", root_path, :class => "log_entry_button round" %>
     <% end %>
   </td>
  </tr>
</table>
