  <%# t is an elapsed time as a fixnum %>
  <%# msg is the text to go with it (think of better name) %>

	<span class = "time">
  <strong>
	<%= msg %><br />
	</strong>
  <% if (t >= 60) %>
  	<% h = (t /60).to_i %> 
  	<%= pluralize(h, "hour") %>
  <% end %>
  <% m = (t%60).to_i %>  
  <% if (m > 0) %>
  	<%= pluralize(m, "minute") %>
  <% end %>
	</span>
	<br />
