<h1>About Us</h1>
<p>
  This web site application was originally written as a final project for a Ruby on Rails course.  
  It is based on the sample application for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
</p>
 
 <p>
You can view the source code on <a href="https://github.com/notruthless/drive_log" target="_blank">Github</a>
</p>
