<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="log_entry">Enter Trip Info</h1>
        <%= render 'shared/log_entry_form' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info', :user => current_user%>
      </td>
    </tr>
  </table>
<% else %>

  <p>
    Welcome to the Driving Log! <br /> Create an account or log in to add driving trips to your log!
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>